[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "emscripten-browser-clipboard"]
	path = emscripten-browser-clipboard
	url = https://github.com/Armchair-Software/emscripten-browser-clipboard
